In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [45]:
# Download the yellow taxi trips dataset
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz

--2025-01-22 17:29:00--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250123%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250123T012900Z&X-Amz-Expires=300&X-Amz-Signature=02cc1cc1afc8306bff2aa0b905e68bb619afaac5d760e019beb4c4ce57fbfd18&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-01-22 17:29:00--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250123%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250123T012900Z&X-Amz-Expires=300&X-Amz-Signature=02cc1cc1afc8306bff2aa0b905e68bb619afaac5d760e019beb4c4ce57fbfd18&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25031880 (24M) [application/octet-stream]
Saving to: ‘yellow_tripdata_2021-01.csv.gz.2’

yellow_tripdata_202 100%[===================>]  23.87M  58.7MB/s    in 0.4s

2025-01-22 17:29:01 (58.7 MB/s) - ‘yellow_tripdata_2021-01.csv.gz.2’ saved [25031880/25031880]

In [5]:
# Download the green taxi trips dataset
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz

# Download the taxi zone lookup dataset
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2025-01-22 13:55:57--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250122T215557Z&X-Amz-Expires=300&X-Amz-Signature=7fa8411b8f64cc2b81cabccadd3b167370e3c04bc754af27b97e0960b389b4cb&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-01-22 13:55:57--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250122T215557Z&X-Amz-Expires=300&X-Amz-Signature=7fa8411b8f64cc2b81cabccadd3b167370e3c04bc754af27b97e0960b389b4cb&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8262584 (7.9M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-10.csv.gz’

green_tripdata_2019 100%[===================>]   7.88M  43.5MB/s    in 0.2s

2025-01-22 13:55:58 (43.5 MB/s) - ‘green_tripdata_2019-10.csv.gz’ saved [8262584/8262584]

--2025-01-22 13:55:58--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250122T215558Z&X-Amz-Expires=300&X-Amz-Signature=ba71072f4a477231e9518a73ca0de1c0ca61b4dfe522b05031f0640b614791bb&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2025-01-22 13:55:58--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250122%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250122T215558Z&X-Amz-Expires=300&X-Amz-Signature=ba71072f4a477231e9518a73ca0de1c0ca61b4dfe522b05031f0640b614791bb&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0.004s

2025-01-22 13:55:59 (2.97 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [12]:
# Database connection details
user = "root"
password = "root"
host = "localhost"
port = 5432
db = "ny_taxi"

In [13]:
# Create SQLAlchemy engine
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{db}')

In [14]:
# Load data
df = pd.read_csv("green_tripdata_2019-10.csv.gz")

In [15]:
df.to_sql("green_taxi_data", engine, if_exists="replace", index=False)

In [16]:
print("Data loaded successfully!")

Data loaded successfully!

In [25]:
df2 = pd.read_csv("taxi_zone_lookup.csv")

In [26]:
df2.to_sql("taxi_zone_lookup", engine, if_exists="replace", index=False)
print("Data loaded successfully!")

Data loaded successfully!

In [47]:
df3 = pd.read_csv("yellow_tripdata_2021-01.csv.gz.2", compression='gzip')

In [49]:
df3.to_sql(
    "yellow_tripdata",
    engine,
    if_exists="replace",
    index=False,
    method='multi',  # Enable batch inserts
    chunksize=10000  # Write data in chunks of 10,000 rows
)
print("Data loaded successfully!")

Data loaded successfully!

Question 3. Trip Segmentation Count
During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened:

Up to 1 mile
In between 1 (exclusive) and 3 miles (inclusive),
In between 3 (exclusive) and 7 miles (inclusive),
In between 7 (exclusive) and 10 miles (inclusive),
Over 10 miles
Answers:

104,802; 197,670; 110,612; 27,831; 35,281
104,802; 198,924; 109,603; 27,678; 35,189
104,793; 201,407; 110,612; 27,831; 35,281
104,793; 202,661; 109,603; 27,678; 35,189
104,838; 199,013; 109,645; 27,688; 35,202

In [19]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND
      schemaname != 'information_schema';
"""
pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,green_taxi_data,root,None,False,False,False,False

In [21]:
query = """
SELECT * FROM green_taxi_data LIMIT 10;

"""
pd.read_sql(query, con=engine)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,None,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,None,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,None,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,None,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,None,0.3,13.56,1.0,1.0,0.0
5,2.0,2019-10-01 00:35:01,2019-10-01 00:43:40,N,1.0,65,49,1.0,1.47,8.0,0.50,0.5,1.86,0.0,None,0.3,11.16,1.0,1.0,0.0
6,1.0,2019-10-01 00:28:09,2019-10-01 00:30:49,N,1.0,7,179,1.0,0.60,4.0,0.50,0.5,1.00,0.0,None,0.3,6.30,1.0,1.0,0.0
7,2.0,2019-10-01 00:28:26,2019-10-01 00:32:01,N,1.0,41,74,1.0,0.56,4.5,0.50,0.5,0.00,0.0,None,0.3,5.80,2.0,1.0,0.0
8,2.0,2019-10-01 00:14:01,2019-10-01 00:26:16,N,1.0,255,49,1.0,2.42,10.5,0.50,0.5,0.00,0.0,None,0.3,11.80,2.0,1.0,0.0
9,1.0,2019-10-01 00:03:03,2019-10-01 00:17:13,Y,1.0,130,131,1.0,3.40,13.0,0.50,0.5,2.85,0.0,None,0.3,17.15,1.0,1.0,0.0

Q3

In [23]:
query = """
SELECT 
    CASE 
        WHEN trip_distance <= 1 THEN 'Up to 1 mile'
        WHEN trip_distance > 1 AND trip_distance <= 3 THEN '1 - 3 miles'
        WHEN trip_distance > 3 AND trip_distance <= 7 THEN '3 - 7 miles'
        WHEN trip_distance > 7 AND trip_distance <= 10 THEN '7 - 10 miles'
        ELSE 'Over 10 miles'
    END AS trip_segment,
    COUNT(*) AS trip_count
FROM 
    green_taxi_data
WHERE 
    lpep_pickup_datetime >= '2019-10-01 00:00:00'
    AND lpep_pickup_datetime < '2019-11-01 00:00:00'
    
    AND lpep_dropoff_datetime >= '2019-10-01 00:00:00'
    AND lpep_dropoff_datetime < '2019-11-01 00:00:00'
GROUP BY 
    trip_segment
ORDER BY 
    trip_segment;

"""

pd.read_sql(query, con=engine)

    trip_segment  trip_count
0    1 - 3 miles      198924
1    3 - 7 miles      109603
2   7 - 10 miles       27678
3  Over 10 miles       35189
4   Up to 1 mile      104802

Q4

In [35]:
query = """
SELECT lpep_pickup_datetime::date as lpep_pickup_date,
       max(trip_distance) as max_daily_trip_distance
FROM green_taxi_data
group by lpep_pickup_datetime::date
ORDER BY max_daily_trip_distance DESC
LIMIT 1;
"""

pd.read_sql(query, con=engine)

  lpep_pickup_date  max_daily_trip_distance
0       2019-10-31                   515.89

In [27]:
query = """
SELECT * FROM taxi_zone_lookup LIMIT 10;

"""
pd.read_sql(query, con=engine)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone
5           6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6           7         Queens                  Astoria    Boro Zone
7           8         Queens             Astoria Park    Boro Zone
8           9         Queens               Auburndale    Boro Zone
9          10         Queens             Baisley Park    Boro Zone

#5

In [36]:
query = """
SELECT tz."Zone" AS pickup_zone,
       SUM(gtd."total_amount") AS total_revenue
FROM green_taxi_data gtd
JOIN taxi_zone_lookup tz ON gtd."PULocationID" = tz."LocationID"
WHERE gtd."lpep_pickup_datetime"::date = '2019-10-18'
GROUP BY tz."Zone"
ORDER BY total_revenue DESC
LIMIT 10;

"""
pd.read_sql(query, con=engine)

                pickup_zone  total_revenue
0         East Harlem North       18686.68
1         East Harlem South       16797.26
2       Morningside Heights       13029.79
3            Central Harlem       12440.66
4                  Elmhurst       12431.96
5                   Astoria        9190.86
6  Washington Heights South        8449.07
7      Central Harlem North        7990.68
8              Forest Hills        7869.06
9          Brooklyn Heights        7561.63

#6

In [39]:
query = """
SELECT dropoff_tz."Zone" AS dropoff_zone,
       gtd."tip_amount" AS largest_tip
FROM green_taxi_data gtd
JOIN taxi_zone_lookup pickup_tz ON gtd."PULocationID" = pickup_tz."LocationID"
JOIN taxi_zone_lookup dropoff_tz ON gtd."DOLocationID" = dropoff_tz."LocationID"
WHERE pickup_tz."Zone" = 'East Harlem North'
      AND gtd."lpep_pickup_datetime" >= '2019-10-01 00:00:00'
      AND gtd."lpep_pickup_datetime" < '2019-11-01 00:00:00'
ORDER BY gtd."tip_amount" DESC
LIMIT 1;

"""
pd.read_sql(query, con=engine)

  dropoff_zone  largest_tip
0  JFK Airport         87.3